{{#if settings.showSocial}}
<section id="socials">
    {{#each settings.socials}}
    <a href="{{url}}" target="_blank">
        <article>
            {{display}}
            <img src="public/socials/{{logo}}" />
        </article>
    </a>
    {{/each}}
    <div id="exchange"><a href="https://www.tescort.com/escorts/paris/" title="Escorts Paris"><img
                src="https://www.tescort.com/multimedia/9.png" border="0" alt="Escorts Paris"></a></div>
</section>
{{/if}}